systemLog:
    destination: file
    verbosity: 0
    path: {{ mongodb_logfile_path }}
    quiet: true
processManagement:
    pidFilePath: {{ mongodb_pidfile_path }}
    fork: true
net:
    port: {{ mongodb_port }}
    bindIp:  {{ mongodb_bindip }}
storage:
    dbPath: {{ mongodb_db_path }}
